<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="style.css">
    <script src="./script.js" defer></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Academia Digital</title>

</head>
<body>
    <div class="box">
        <h1>Cadastro</h1>
        <form action="">
            <input type="text" class="nome" name="nome" placeholder="Nome"><br>
            <input type="text" class="bairro" name="bairro" placeholder="Bairro"><br>
            <input type="text" class="cpf" name="cpf" placeholder="Cpf"><br>
            <input type="date" class="data" name="data" placeholder="Data de Nascimento"><br>
            <button>Cadastrar</button>
        </form>
    </div>
</body>
</html>