<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Academia Digital</title>
</head>
<body>
    <div>
        <nav>
            <header>
                <p class="logo">
                <strong>Academia Qualquer!</strong>
                </p>
                <div class="links">
                    <a href="../PgCadastro/cadastro.html" class="cadastro"><strong>Cadastre-se</strong></a>
                    <a href="../PgBusca/busca.html" class="busca"><strong>Buscar aluno</strong></a>
                </div>
            </header>
        </nav>
        <div class="pag">
            <div class="aboutmain">
                <h1 class="title">Sobre nós:</h1>
                <p class="about">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam at faucibus velit. Sed elementum magna ut tortor elementum, vel porttitor ipsum mollis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed in ex tincidunt, hendrerit lacus sit amet, cursus tellus. Quisque non scelerisque tellus. Vestibulum maximus dapibus mi, a viverra dolor dignissim ac. Nulla hendrerit malesuada mi nec tincidunt. Maecenas iaculis aliquam dui, id semper dui tempus in. Vestibulum maximus diam ac massa rutrum, eget mollis augue volutpat. Fusce ut urna pulvinar, malesuada lectus vel, porta enim. Vestibulum vestibulum mattis pharetra. Morbi hendrerit suscipit cursus. Sed sodales elit sapien, eget consequat tortor efficitur tempor. Duis mollis, nulla sed fringilla facilisis, ligula ante condimentum augue, nec egestas nulla velit a orci. 
                </p>
            </div>
        </div>
        <div>
            <nav>
                <footer>
                    <div>
                        <p style="color: aliceblue;">Nossas redes sociais:</p>
                        <a href="https://instagram.com.br">Instagram</a><br>
                        <a href="https://facebook.com.br">Twitter</a>
                    </div>
                </footer>
            </nav>
        </div>
    </div>
</body>
</html>