<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>Buscar Aluno</h1>
        <form action="">
            <input type="number" class="id" nome="id" placeholder="Digite a matricula do aluno"><br>
            <button>Buscar</button>
        </form>
    </div>
    <div>
        <p>
            <h1>Alunos:</h1>
            <table>
                <tr>
                    <th>Nome</th>
                    <th>CPF</th>
                    <th>Bairro</th>
                    <th>Data de nascimento</th>
                </tr>
            </table>
        </p>
    </div>
    
</body>
</html>